* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.fb-header {
    display: flex;
    justify-content: space-between;
    
}

.page-margin {
    margin-inline: 400px;
    margin-top: 10px;
}

.bg-header {
    background-color: orange;
}