* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.fb-header {
    display: flex;
    justify-content: space-between;
    
}

.page-margin {
    margin-inline: 400px;
}

.bg-header {
    background-color: orange;
    height: 50px;
}

.margin-text{
    padding-top: 10px;
    color: white;
    
}

.title-position {
    text-align: center;
}

.margin-top {
    margin-top: 20px;
}

.fb-cards {
    display: flex;
    justify-content: space-between;
}

.border-cards {
    border-style: solid;
    border-width: 1px;
    border-color: rgb(127, 127, 127);
}

.red-text {
    color: red;
}

.black-text {
    color: black;
}

.fb-footer {
    display: flex;
    justify-content: space-between;
}

.white-text {
    color: white;
}

.bg-footer {
   color: rgb(12, 12, 12);
   height: 50px;
}

.bottom-padding {
    padding-bottom: 50px;
}