* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.fb-header {
    display: flex;
    justify-content: space-between;
    
}

.page-margin {
    margin-inline: 400px;
}

.bg-header {
    background-color: orange;
    height: 50px;
}

.margin-text{
    padding-top: 10px;
    color: white;
}

.title-position {
    text-align: center;
}

.margin-top {
    margin-top: 20px;
}

.fb-cards {
    display: flex;
    justify-content: space-between;
}